body,h1,h2,h3,p,td,quote,small,form,input,ul,li,ol,label{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
}

body{
	color:#555555;
	font-size:13px;
	background: #C53535 url(img/textura.png);
	background-size: 100% 100%;
}

.clear{
	clear:both;
}

#main-container{
	width:95%;
	margin:20px auto;
}

.container{
	margin-bottom:40px;
}

.top-label{
 	background:white;
	display:inline-block;
 
	position:relative;
	margin-bottom:-15px;
}

.label-txt{
 
	display:inline-block;
	font-size:10px;
	height:36px;
	margin-left:10px;
	padding:12px 15px 0 5px;
	text-transform:uppercase;
}

.content-area{
	background:#fcfcfc;
	padding:15px 20px 0 20px;
}

.content{
	padding:10px;
}

.drag-desired{
	background:url(img/arrastrar.png) no-repeat top right;
	padding:30px;
}

 

.bottom-container-border{
 
	height:14px;
}

.product{
	border:2px solid #F5F5F5;
	float:left;
	margin:15px;
	padding:10px;
	width: 90%
}

.product img{
	cursor:move;
	float: left;
}

p.descr{
	padding:5px 0;
}

small{
	display:block;
	margin-top:4px;
}

.tooltip{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;

	background-color:#666666;
	border:1px solid #666666;
	color:#fcfcfc;

	padding:10px;
	
	-moz-border-radius:12px;
	-khtml-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius:12px;
}

#cart-icon{
	width:48px;
	float:left;
	position:relative;
}


#ajax-loader{
	position:absolute;
	top:0px;
	left:0px;
	visibility:hidden;
}

#item-list{
float: right;
width: 397px;
	margin-left:20px;
	padding-top:15px;
}

a.remove,a.remove:visited{
	color:red;
	font-size:10px;
	text-transform:uppercase;
}

#total{
	clear:both;
	float:right;
	font-size:10px;
	font-weight:bold;
	padding:10px 12px;
	text-transform:uppercase;
}

#item-list table{
	background-color:#F7F7F7;
	border:1px solid #EFEFEF;
	margin-top:5px;
	padding:4px;
}

a.button,a.button:visited{
	display:none;

	height:29px;
	width:136px;

	padding-top:15px;
	margin:0 auto;
	overflow:hidden;

	color:white;	
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	
	background:url(img/button.png) no-repeat center top;
}

a.button:hover{
	background-position:bottom;
	text-decoration:none;
}


a, a:visited {
	color:#00BBFF;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

h1{
	font-size:28px;
	font-weight:bold;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
}

h2{
	font-weight:normal;
	font-size:20px;
	
	color:#666666;
	text-indent:30px;
	margin:20px 0;
}

.tutorialzine h1{
	color:white;
	margin-bottom:10px;
	font-size:48px;
}

.tutorialzine h3{
	color:#F5F5F5;
	font-size:10px;
	font-weight:bold;
	margin-bottom:30px;
	text-transform:uppercase;
}

.tutorial-info{
	color:white;
	text-align:center;
	padding:10px;
	margin-top:-20px;
}
.primero{
	width: 39%;
	margin-right: 17px;
	display: inline-table;
}
.segundo{
	width: 55%;
	display: inline-table;
}
div.product h2{
 
	display: block;
}
.container segundo{
height:1000px;

}




















